<%= link_to "Back to Pokemon List", root_path %>

<p>
  <strong>Number:</strong> <%= @pokemon.id %>
</p>

<p>
  <strong>Pokemon Name:</strong> <%= @pokemon.poke_name %>
</p>

<p>
  <strong>Type 1</strong>: <%= @pokemon.kinds.first.try(:kind) %>
</p>

<p>
  <strong>Type 2</strong>: <%= @pokemon.kinds.second.try(:kind) %>
</p>

<p>
  <strong>Combined Type:</strong> <%= @pokemon.combined_type %>
</p>

<p>
  <strong>If you attacked with...:</strong> <%= @pokemon.effectiveness %>
</p>
