<%= link_to "Back to Pokemon List", home_index_path %>


<p>
  <strong>Number:</strong> <%= @pokemon.poke_number %>
</p>

<p>
  <strong>Pokemon Name:</strong> <%= @pokemon.poke_name %>
</p>

<p>
  <strong>Type 1</strong> <%= @pokemon.poke_type1 %>
</p>

<p>
  <strong>Type 2</strong> <%= @pokemon.poke_type2 %>
</p>
